PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/blewapp?retryWrites=true&w=majority
JWT_SECRET=blewapp_super_secret_jwt_key_change_in_production_2026
JWT_EXPIRES_IN=7d
NODE_ENV=development
